*{
    margin :0;
    padding:0;
}
.sidebar{
    position: relative;
    background-color: gray;
    font-family: 'fire sans', sans-serif;
    height : 100vw;
    transition: transform 0.3s ease-in;
}
.sidebar nav {
    padding : 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}

.main{
  
    width:80vw;
}
.container{
    display: flex;

}
.infocontainer{
    
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around ;

}

.devInfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 45px;
}
.name{
    font-size: 60px;
    font-weight:bold ;

}
.about{

    font-size:35px;
}
.moreabout {
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans' , sans-serif; 
}
.buttons{
    margin-top:34px ;
    font-size: 16px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-size: 2em;
    font-weight: bold;
    margin: 3px 3px;
    cursor: pointer;

}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.devPic img{
    height: 58vh;
}

.contactform {
    padding:0 34px;
    padding-top: 144px;
    font-family: 'fira sans', sans-serif;
    margin:0 88px;

}
.contactform h1{
    font-family: 'source code pro' , monospace;
    padding: 15px 0;
     
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width:26vw ;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
    
}
#emailHelp{
    font-size: 8px;
    color:midnightblue;
    margin: 0 5px;
}


.form-check-input{
    flex-direction: row;
    width: 2px;
    margin :3px 0;
    
}
.blogItem{
    margin: 20px;
    font-family: 'Fira Sans' , sans-serif;
}
.blogContainer{
    margin: 10 88px;

}
h1{
    font-family: 'Fira Sans' , sans-serif;
    margin: 23px;

}

p{
    font-family: 'source code pro' , monospace;
}
.intro{
    margin :10 88px;
}
.intro h2{
    font-family: 'Fira Sans' , sans-serif;
    margin: 12px;

}
.intro p{
    font-family: 'source code pro' , monospace;
    margin: 12px;

}
.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;

}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}
.hm{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left:185px;
    margin-top: 10px;
}
@media( max-width: 1000px){
    .devPic{
        display: none;
    }
    /*.sidebar{
        transform: translate(-443px,0px);
        position:absolute;
    }*/
}
.devInfo{
    font-size: 10px;

}

.intro, .blockContainer, .contactform{
    margin:50px 8px;
}